/* imported for mobile use */
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,500,700|Open+Sans:400,600);

html {
    height: 100%;
}


body {
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin:0;
	padding:0;
    /*overflow: hidden;*/
    width: 100%;
  }

 /*  blog */
 .fix-fix{
  position:static;
}

.blog-welcome {
  position:static !important;
  width: 100%;
  text-align: center;
}

.process-exp, .overview-exp{
	line-height: 150% !important;
}

#overview-title {
	line-height: 120%;
}


.overview, .process-exp {
	font-family: 'Open Sans';
	line-height: 130%;
}




/*/////Loading //////*/
#load{
	display:none;
	background-color:white;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    /* background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25) */
}
/*/////Width //////*/
.content-wrapper, #blog-wrapper {
	padding: 0 10px 0 10px;
}

.warddrobe, .content-wrapper, #blog-wrapper, .overview, 
.cover-img, .cover-img-long, .cover-width-img, .cover-height, .iframe-wrapper, 
.iframe-phone, .iframe-prototype, .half-img, .centered,.small-exp  {
	margin-left: auto;
	margin-right: auto;
}

#blog-wrapper {
	max-width:1000px;
}

.content-wrapper {
	max-width: 750px;
}

#section1{
	padding-top:50px;
}

.blog-spacer {
	height:50px;
	width: 100%;
}

h1:first {
	background-color: black;
}

.large-wrapper {
	background-color: #1c2f73;
}

.orange-wrapper {
	background-color: orange;
}

/******* Index *********/
#welcome-page {
    background: white; /* For browsers that do not support gradients */
	color: black;
}

#holder {
	background: -webkit-linear-gradient(#ffa500, #E59400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffa500, #E59400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffa500, #E59400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffa500, #E59400); /* Standard syntax */
}

/* welcome slide */
.welcome-overview {
	font-family: "Open Sans";
}

.full-name, .ux-name{
	letter-spacing: 1.5px;
}
.full-name {
	font-size: 32pt;
	line-height: 30pt;
}
.ux-name {
	color: #fca500;
	font-size: 20pt;
	line-height: 100%;
	font-style:italic;
}

.welcome-intro {
	font-size: 14pt;
	max-width: 400px;
	margin-top: 100px;
}

.fa-map-marker {
	font-size: 13pt;
	color: #fca500;
	padding: 0 0 0 2.5px;
	position: relative;
	top:-5px;
}

.map-marker-text {
	color: black;
	font-family: "open sans";
	font-size: 12pt;
	font-weight: 500;
}

#welcome-city {
	opacity:0;
	font-weight: bold;
	color: orange;
}
/*
.button-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 30px auto 0px auto;
	max-width: 400px;
	align-items: center;
    justify-content: center;
}
.button-container>a {
	text-decoration: none;
}
.button-container>a:hover {
	transition: 0.5s;
}
.button-wrapper {
	height: 40px;
	width: 40px;
	margin: 20px;
	text-align: center;
    justify-content: center;
    vertical-align: center;
	display: flex;
	align-items: center;
}
.menu-icon {
	display: inline;
	text-decoration: none;
	position: static;
	color: black;
	font-size: 1.3em !important;
	bottom: 0px;
}
.menu-fix {
	font-size:1.5em;
}
.menu-icon:hover {
	text-decoration: none;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	font-size: 1.75em !important;
}
*/
.round-button {
	background-color: white;
	border-radius: 20px;
	color: black;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.25px;
	line-height: 20px;
	margin: 20px;
	max-width: 100%;
	padding: 4px 10px 4px 10px;
	box-shadow: 0px 0px 5px grey ;
	width: auto;
}

.portfolio-tile {
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 6px 6px darkgrey;	
	border-radius: 2.5px;
	height: 280px;
	max-height: 100%;
	margin: 30px auto 30px auto;
	max-width: 800px;
	width: auto;
}

.portfolio-tile-animate {
	opacity: 1;
	-webkit-transition:  0.4s; /* Safari */
    transition: 0.45s;
}

#bus-tile {
	opacity: 0.8 !important;
}

#caid-tile {
	background-position: 30 center !important;
}

a:hover, .round-button:hover, .portfolio-tile:hover, .button {
	cursor: pointer !important;
}

.button {
	font-family: "Open Sans", sans-serif;
}

.tile-title, .overview-title, .process-title, .process-subtitle, .alternating-title {
	font-family: "Open Sans", sans-serif;
}

.tile-title {
	bottom: -230px;
	left: 10px;
	position: relative;
	font-size:12pt;
	font-weight: 500;
	color: white;
}


.title-position {
	max-width: 90%;
	height: 100%;
}

.title-click {
	text-decoration: none;
}



.circle-button {
	background-color: orange;
	text-decoration: none;
	border-radius: 50%;
	position: absolute;
	top: -500px;
}

.rect-button {
	border-radius: 2.5px;
	border: 2.5px solid orange;
	color: orange;
	margin: 30px auto 30px auto;
	max-width: 300px;
	text-align: center;
	padding: 10px;	
}

.rect-button:hover {
	color: grey;
}

.tile-click {
	text-decoration: none;
}
/*
.text-link {
	color: black;
	text-decoration: underline;
    text-decoration-color: orange;
}
.text-link:hover {
	text-decoration: darkgrey;
}
*/

.reward-wrapper {
	display:flex;
	flex-wrap:wrap;
}

.reward {
	display: inline;
	font-size: 12pt;
	margin: 0px 40px 20px 0px;
}

/*
header{
	color:#302e2d;
}
header>p, #header-nav{
	margin-top:0;
	padding: 10px;
}
#header-nav{
	padding-left:0px;
	position: absolute;
	left: 0;
	margin:0;
	list-style-type: none;
	width: 200px;
}
#header-nav>li{
	float:left;
	padding: 0 15px 0 15px;
	text-decoration: oblique;
}#header-nav>li>a:hover{
	cursor: pointer;
}*/

.selector{
	list-style-type:none;
	text-align: center;
}

.selector>li{
	display: inline-block;
	padding: 0 2.5px 2.5px 2.5px;
}
.selector>li>a, .nav-link{
	color:#302e2d;
	text-decoration: none;
}
.selector>li>a:hover,.nav-link:hover{
	cursor: pointer;
	color: SteelBlue;
}
/****** blog *********/
.box {
	font-family: "Open Sans";
	padding: 2.5%;
	/* height: 300px; ///why is this here?
	margin-bottom: 50px; */
}

.box:hover {
	border: 0px solid white;
	cursor: pointer;
}

/* Grid images
#grid-1 {
	background-image:url('../img/ra/ra-tile.png');
}
#grid-3 {
	background-image:url('../img/cards/volunteer.png');
}

#grid-2 {
	background-image:url('../img/dots/dots.png');
}

#grid-4 {
	background-image:url('../img/cards/cooking.png');
} */

.grid-img {
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: center;
	border-radius: 2.5px;
	min-height: 200px;
	min-height: 100%;
	border:3px solid white;
	width: auto;
}

.grid-img:hover {
	border: 0px solid white;
}

.blog-welcome {
	font-size: 13pt;
	margin-bottom: 40px;
	position:static !important;
	text-align: center;
	width: 100%;
	text-align: center;
}

.division-line {
	bottom: 10px;
	border: 0.5pt solid grey;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 60%;
}

.gird-label {
	font-family: "open sans";
	display: block;
	padding: 2.5%;
	height: 50px;
	text-align: justify;
}

.blog-title {
	font-family: 'Open Sans';
	font-weight: bold;
}


/************ Cooking *******/

#yelp-button {
	/* background-image:url('../img/cooking/yelp.png'); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #d32323;
	border-radius: 4px;
	cursor: pointer;
	min-height: 35px;
	max-width: 140px;
	margin: 20px 0;
}

/************************** **************************/
.slow-animation {
	transition: all 1.5s ease;
}

#content {
	width: 100%;
	display: block;
	height: 100%;
	position: fixed;
}

.fp-slide {
	position: static;
	width: 100%;
	height: 100vh;
}

#section1 .fp-bg{
    background-size: cover;
    background-position: center 80%;
}


.caption-small, .caption-big {
	margin: 0 auto 0 auto;
}

.caption-small {
	width: 350px;
}

.caption-big {
	width: 600px;
}

#img-fix-center {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img-fix {
	max-width: 250px;
	max-height: auto;
	width: 100%;
	height: auto;
	text-align: center;
	display: block;
	position: fixed;
}

#callbacks-placeholder {
	display: none;
}

.top-scroll {
	position: fixed;
	bottom: 50px;
	width: 50px;
	margin-left: auto;
	margin-right:auto;
	background-color:black;
	z-index: 9;
}


#overview-title, .overview-title /** todo: fix this **/{
	font-size: 44px;
	font-weight: 700;
	padding-top:40px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	line-height: 48px;
	max-width: 667px;
}

.overview {
	font-size: 16pt;
	display: block;
}

/*/////// Process //////*/
.cover-img, .volunteer-img {
	display: block;
	width: 100%;
	max-width:auto;
	height: auto;
	max-height: 100%;
}

.volunteer-img {
	margin-top: 40px;
}

.cover-img-long {
	max-width: 1000px;
	height: auto;
	width: 100%;
}

.cover-width-img {
	display: block;
	width: 750px;
	max-width:100%;
	padding: 40px 0 40px 0;
}


.cover-height {
	display: block;
	max-height: 100vh;
	height: 100%;
	width: auto;
}

.iframe-outer {
	display: absolute;
}

.iframe-wrapper {
	top: -0px;
	display: block;
  	position: relative;
}

.iframe-phone {
	width: auto;
	height:725px;
	display: block;
	position: relative;
	z-index: 2;
}

.iframe-prototype {
	top: 80px;
	left: -5px;
	width: 100%;
	display:block;
	position: absolute;
	z-index: 2;
	width:252.75;
	height:500.25;
}

.half-img {
	width: auto;
	max-width:100%;
	height: 400px;
	max-height:80%;
	margin-bottom: 20px;
	display: block;
}

.process-alternating {
	width: 100%;
	margin-bottom: 100px;
	vertical-align: middle;
}

.alternating-title {
	max-height: 100%;
	vertical-align: middle; /* align vertical */
	display: inline-block;
	text-align: center;
	width: 49%;
}

@media only screen and (max-width: 500px) {
	.alternating-title {
		height: 100%;
		vertical-align: middle; /* align vertical */
		display: inline-block;
		text-align: center;
		width: 49%;
	}
	.iframe-outer {
		display: absolute;
	}

	.iframe-wrapper {
		display: block;
		left: -10px;
	  	margin-right: auto;
	  	margin-left: auto;
	  	position: relative;
	}

	.iframe-phone {
		/*display: none;*/
		opacity: 0;
	}

	.iframe-prototype {
		display:block;
		height: 667px;
		margin:0;
		top: -45.5px;
		width: 375px;
		margin-left:auto;
		margin-right:auto;
		position: absolute;
		z-index: 2;
	}

	.overview {
		font-size:13pt;
	}
}

.tag-line {
	font-style: italic;
	font-weight: bold;
	color: orange;
	font-size: 20pt;
}

.process-title, .alternating-title {
	font-size: 34px;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 0 !important;
}

.process-subtitle {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: -10px;
}

.process-exp {

	max-width: 667px;
	font-size: 16px;
}

.small-exp {
	margin: 15px 0 15px;
	max-width:667px;
}

.small-ul {
	list-style-type: disc !important ; 
	margin: 0 0 25px 25px;
}


.process-color {
	width: 100%;
	background-color:orange;
}

.ul-wrapper {
	margin: 20px auto 20px auto;
	max-width:400px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-spaced{
	margin: 10%;
}

.spaced {
	margin-bottom: 40px !important;
}

.margined {
	margin: 10px;
}

.margined-top {
	margin: 50px 0 50px;
}

.bordered {
	border:1pt solid lightgrey;
}

.process-img, .process-gif, .process-img-sm{
	display: block;
	margin: 10px auto 10px auto;
}

.vertical-layout-img{
	max-height:100vh;
}


.process-img, .process-gif {
	height: auto;
	max-height: 80vh;
}

.process-gif {
	height: auto;
	width: auto;
	max-width: 350px;
}

.process-img{
	max-width: 90%;
	width: 370px;
}

.process-img-sm {
	max-width: 70%;
	margin-bottom: 15px;
	min-width: 200px;
	width: 250px;
}

/*//////// Info ///////*/

.info {
	font-size: 20px;
		margin-top: 20px;

}

.info-title {
	font-weight: bold;
}


.quote-who {
	font-size:12pt;
	font-style: italic;
}

/*///// Overview List /////*/
#summary-wrapper > ul {
	margin-top: 0px;
}

#summary-wrapper > ul > li {
	margin: 5px;
}

#summary-wrapper {
	display: block;
	margin: 0px auto 0px auto;
	max-width: 300px;
}

.process-summary {
	font-size: 16pt;
	color: #C1A633;
	text-align: center;
}

.mobile {
	display: none;
}

.mockup {
	margin-top: 20px;
	box-shadow: 2px 3px 5px 2px lightgrey;
}

@media only screen and (max-width : 400px) {
	.mobile{
		display: block;
		color: orange;
	}

	.wardrobe {
		display: none;
	}
}

/* ubus table */
table{
    border-collapse: collapse;
}

td{
	padding: 20px;
}

table, th, td{
    border: 1px solid black;
}

.tongle{
	color: #39C9BB;
}
