@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700|Nunito+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.clickable-hover, #computer{
	cursor: pointer;
}

.box{
	background-color: #D6CEC1;
	width: 100%;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.svg-wrapper{
	margin: 0 auto 0 auto;
	max-width: 85%;
}

.svg-wrapper>svg{
	display:block;
	width: 100%;
}

#navbar{
	z-index: 99;
	top: -1px;
	position: sticky;
}

#desktop, #portfolio-start{
	display:none;
}

.mobile, #mobile-hide, #style-hide{
	display:none;
}

#svg-wrapper>svg{
	margin-left:0;
	display: inline-block;
}

.nav-color{
	display:inline-block;
	height: 12px;
	min-width: 50%;
	margin:0;
	float: left;
}

.nav-text{
	padding: 10px 20px 0px 20px;
}

.nav-text>a{
	color: #585858;
	font-weight: 400;
	text-decoration:none;
}

.nav-text>a:hover{
	color: black;
}

.nav-left{
	float: left;
}

.nav-right{
	float: right;
}

.blue{
	background-color: #1B1464;
}

.orange{
	background-color: #FC9500;
}


text {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	text-anchor: center;
}
body{
	margin: 0;
	padding:0;
	color: #302e2d; /* black */
}

h1, h2, h3{
	font-family: "Lato";
	font-weight:500;
	margin-bottom: 10px;
	max-width:800px;
}

.content-exp{
	font-family: "Nunito Sans";
	margin-top:0;
	font-size: 1.1em;
	line-height: 1.45em;
}

h1{
	font-size: 3em;
}

h2{
	font-size:2.25em;
}

h3{
	font-size: 1.25em;
}

.full-image-cover{
	width:100%;
	background-color: #F8F8F8;
	padding-top: 40px;
}

.full-image-cover>img{
	display:block;
	margin: 0 auto 0 auto;
	max-width: 1000px;
	width:100%;
}

.quote{
	font-weight: 500;
	font-size: 1.5em;
	text-align: left;
	border-left: 4px solid;
	margin: 20px 0 20px 0;
	padding-left: 15px;
	padding: 0px 15px 0px 25px;
}

.text-link{
	text-decoration: underline;
	color: #302e2d;/* black */
}.text-link:hover{
	text-decoration: none;
	cursor: hand !important;
}
/**********************************************************************/
.writeup-wrapper{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.content{
	margin: 60px 0 0 0;
}

.flex-wrapper, .flex-wrapper-lg {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.flex-align-center{
	align-items: center;
}

.flex-align-end{
	align-items: flex-end;
	justify-content: space-between !important;
}

.flex-left, .flex-right,.flex-padding {
	flex-grow: 1;
}

.flex-padding{
	padding: 20px;
}

.flex-left{
	padding: 0px 20px 10px 0px;
}

.flex-right{
	padding-left: 0px 0px 10px 20px;
}



/* one third image */
.third{
	padding:40px 10px 40px 10px;
	max-width: 33%;
}

@media (max-width: 675px) {
	p{ font-size: 0.9em; line-height:1.35em;}
	h1{ font-size: 2.75em;}
	h2{ font-size: 2em;}
	h3{ font-size: 1em;}

	.flex-wrapper {flex-direction: column;}

	.third{max-width:90%;}
}

@media (max-width: 800px) {
	.flex-wrapper-lg {flex-direction: column;}
}
/******************************************************************/
.half-width, .half-width-padding, .half-width-height{
	width: 100%;
	height:auto;
	min-width: 50%;
}

.half-width-height{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
	height:auto;
	width: auto;
}

.half-width-padding{
	width: 100%;
	min-width:330px;
}

.sixty-width{
	width: 100%;
	height:auto;
	min-width: 66%;
}
.thirty-width{
	width: 100%;
	height:auto;
	min-width: 33%;
}

.half-width-strong{
	display: block;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 675px) {
	.half-width-strong{ width:100%; max-width: 100%;}
}

.half-width>img,{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
}

.img-md{
	display:block;
	max-width: 400px;
	margin-left:auto;
	margin-right:auto;
}

.img-hgt{
	display: block;
	max-height: 50vh;
	width: auto;
	margin-left:auto;
	margin-right: auto;
}

.profile-hgt{
	height: auto;
	max-height: 100%;
	width: auto;
	max-width: 100%;
}

.full-img{
	box-shadow: 2px 2px 2px black;
}

.video-wrapper{
	height:320px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container{
	position: relative;
	text-align: center;
}

.img-link{
	border:2px solid white;
}

.img-text{
	visibility:hidden;
	color: orange;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container>a:hover>.img-text{
	visibility:visible;
}

.scenario {
	padding: 20px;
	font-style: oblique;
	margin: 0 auto 0 auto;
}

.scenario>p{
	margin: 5px 0 5px;
}



/**********************/
.summary-person{
	margin-bottom: 4px;
	display:block;
}

.half-width> .summary-person{
	text-align: center;
}
.process-summary {
	font-size: 16pt;
	color: #C1A633;
	text-align: center;
}

.lookbook-color{
	color: #C1A633;
}
/*********************/
.sm-icon{
	padding:5px;
	max-height: 2.2em;
}

/*** html/css prototype */
.wardrobe>iframe {
	width: 100%;
	min-height: 500px;
	max-height:90vh;
}

.wardrobe {
	background-color: #fafafa;
	border: 1px solid lightGrey;
	border-radius:3px;
	margin: 50px auto 50px auto;
	padding: 5px;
	max-width: 1000px;
	max-height: 90vh;
}

@media only screen and (max-width : 400px) {
	.mobile{
		display: block;
		color: orange;
	}

	.wardrobe {
		display: none;
	}

	.svg-wrapper{
		min-width: 100%;
		margin:-5%;
	}
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    padding: 6px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}